#title{
    background-color: #ff4c68;
}
body{
    font-family: 'Montserrat';
}
#des{
    font-family: 'Montserrat', Black;
    size: 3.5rem;
    line-height: 1.5;
    color: white;
    
}
#cf{
    padding: 3% 15%;
}
#picOfDog{
    transform: rotate(25deg);
    width: 60%;
   }
#titlePage{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
#navigationBar{
    padding: 0 0 4.5rem;
}
#link1{
    padding: 0 18px;
    font-variant: 1.2rem;
    font-family: 'Montserrat', Light;
}
#link2{
    padding: 0 18px;
    font-variant: 1.2rem;
    font-family: 'Montserrat', Light;
}
#link3{
    padding: 0 18px;
    font-variant: 1.2rem;
    font-family: 'Montserrat', Light;
}
#dBTN1{
    margin: 5% 3% 5% 0;
}
#dBTN2{
    margin: 5% 3% 5% 0;
}
#features{
    padding: 7% 15%;
    text-align: center;
}
#feature ,#feature1 ,#feature2{
    font-family: 'Montserrat', Bold;
}
p{
    color: #8f8f8f;
}
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}
h2{
    font-family: 'Montserrat',Black;
    size: 3rem;
}
#testimonial ,#testimonial1{
    width: 10%;
    height: 20%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
#imgP{
    width: 15%;
    margin: 20px 20px 50px;
}
#imgP1{
    width: 15%;
    margin: 20px 20px 50px;
}
#imgP2{
    width: 15%;
    margin: 20px 20px 50px;
}
#imgP3{
    width: 15%;
    margin: 20px 20px 50px;
}
#testimonial-text ,#testimonial-text1{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}
#planPricing{
    padding-top: 11%;
    text-align: center;
    font-size: xxx-large;
}
#pPdes{
    text-align: center;
}
#cardTitle{
    font-size: 2.5rem;
    text-align: center;
    font-family: "Montserrat", thin;
}
#cardBody ,#cardBody1 ,#cardBody2{
    text-align: center;
}
#cardSub ,#cardSub1, #cardSub2{
    font-size: 3rem;
}
#btnCard{
    border-color: #ff4c68;
    text-emphasis-color: #ff4c68;
    width: 15rem;
}
#btnCard:hover{
    background-color: #ef8172;
}
#btnCard1 ,#btnCard2{
    width: 15rem;
    background-color: #ef8172;
    color: white;

}
#btnCard1:hover{
    background-color: #ff4c68;
}
#btnCard2:hover{
    background-color: #ff4c68;
}
#card ,#card1 ,#card2{
    width: 20rem;
}
#row{
    margin: 0 4% 0 8%;
}
#card1{
    margin: 0 5% 3%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    margin-top: 7%;
}
#fttl{
    font-family: "Monserrat";
    color: white;
    padding-top: 8%;
    font-size: 3rem;
}
#footer{
    margin: 5% 0 0 40%;
}